<!-- <h1>Court Search</h1>
<div class="fullscreen-bg">
    <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
        <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">

    </video>
</div> -->

<%= render "shared/flash" %>

<!--HOME SECTION START  -->




  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-3">
    <h1 >WELCOME PLEASE SIGN IN</h1>
    <%= link_to "login", login_path, class: "btn btn-custom btn-one" %>
    <!-- <div class="row">

    </div> -->
  </div>




